@import 'config';

#greeting{
  h1{
    font-size: 5.92rem;
  }
  .title{
    margin-bottom: 60px;
    width: 100%;
    .outline{
      width: 98%;
      height:230px;
      margin:0 auto;
      .bg-img{
        width: 100%;
        height:100%;
        background:url('../images/img/greeting.jpg');
        background-position:center;
        background-repeat:no-repeat;
        background-size:cover;
        display:flex;
        justify-content:center;
        align-items:center;
        .bg-white{
          width: 45%;
          height: 45%;
          background:rgba(255,255,255,0.8);
          color:#000;
          display:flex;
          justify-content:center;
          align-items:center;
        }
      }
    }
  }
  .col-12{
    width: 52%;
    margin:auto;
    @include sp{
      width: 100%;
    }
    p{
      font-size: 3.72rem;
    }
  }
  .name{
    margin-top: 50px;
    text-align: right;
    width: 80%;
  }
}
